{% extends 'OdiseoMotorOptimoBundle:frontend:index.html.twig' %} 

{% block content %}

<div id="contact">
	<p><strong>Alcalde Auto Parts</strong><br></br>
	AVE. QUISQUEYA 219, ESQ. BARBOSA HATO REY, PUERTO RICO, 787-753-1845</p><br></br>
	
	<p><strong>TPH – The Parts House</strong><br></br>
	Lot 31 – Diana Street, Guaynabo, Puerto Rico, 787-273-0125</p><br></br>
	
	<p><strong>Autos Vega, Inc.</strong><br></br>
	Ave. Kennedy 227 Marginal, San Juan, Puerto Rico, Puerto Rico,787-782-4030</p><br></br>
	
	<p><strong>Alberic Ford, Inc.</strong><br></br>
	Ave. 65 de Infantería KM 5.3, Carolina, Puerto Rico, Puerto Rico,787-474-2222</p> <br></br>
	
	<p><strong>Auto Grupo Ford de Bayamón</strong><br></br>
	Carr. 2 Km 16.7 Bo. Candelaria , Toa Baja, Puerto Rico, Puerto Rico,787-474-6565</p> <br></br>
	
	<p><strong>Caguas Expressway Motors, Inc.</strong><br></br>
	Carr. #1 KM 30.6, Caguas, Puerto Rico, Puerto Rico, 787-641-4242</p> <br></br>
	
	<p><strong>Central Ford</strong><br></br>
	Carr. #2 KM 28.5, Barrio Espinosa, Vega Alta, Puerto Rico, Puerto Rico,787-915-5000</p> <br></br>
	
	<p><strong>Fajardo Ford, Inc.</strong><br></br>
	Carr. #3 KM 41.8, Luquillo, Puerto Rico, Puerto Rico, 787-355-5555</p> <br></br>
	
	<p><strong>Cabrera Auto Group</strong><br></br>
	Carr. #2 KM 82.2, Arecibo, Puerto Rico, Puerto Rico,787-880-8082</p> <br></br>
	
	<p><strong>Ford Del Sur, Inc.</strong><br></br>
	Urb. Industrial Reparada solar #2 Ponce by Pass, Ponce, Puerto Rico, Puerto Rico,787-651-0000</p> <br></br>
	
	<p><strong>Mayagüez Ford</strong><br></br>
	Carr. #2 KM 149, Barrio Sabaneta Maní, Mayagüez, Puerto Rico, Puerto Rico,787-805-3673</p> <br></br>

</div>

{% endblock %}

