{% extends 'OdiseoMotorOptimoBundle:frontend:index.html.twig' %} 

{% block content %}

<div id="slider">
slider
</div>
<div class="separator-post"></div>
<div id="post-products">
productos
</div>

{% endblock %}

