* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	weight: 100%;
	background-image:url("../images/fondo.jpg");
}

#header {
    margin: auto;
    height: 160px;
    width: 960px;
	background: rgba(51,51,51,1);
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(121,124,125,1) 50%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,51,51,1)), color-stop(50%, rgba(121,124,125,1)), color-stop(100%, rgba(51,51,51,1)));
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(121,124,125,1) 50%, rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(121,124,125,1) 50%, rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(121,124,125,1) 50%, rgba(51,51,51,1) 100%);
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(121,124,125,1) 50%, rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=0 );
	position: relative;
}

#footer {
	background-color: #333333;
    margin: auto;
    height: 100px;
    width: 960px;	
}

#separator-footer {
	background-color: white;
    margin: auto;
    height: 5px;
    width: 960px;	
}

#content {
	background-color: white;
    margin: auto;
    height: auto;
    width: 960px;
}

#content-admin {
	background-color: #c0c0c0;
    float: left;
}

#menu {
	background-color: white;
    margin: auto;
    height: 45px;
    width: 960px;	
    position: relative;
}

#menu-top {
	background-color: white;
    margin: auto;
    height: 5px;
    width: 960px;	
    position: absolute;
}

#menu-bottom {
	background-color: white;
    margin: auto;
    height: 5px;
    width: 960px;	
    position: absolute;
    top: 40px;
}

#menu .item,  #menu .item:hover {
	font-family: 'Arial Black';
	font-size: 18px;	
	font-color: white;
	text-align: center;
}

#menu .item a:visited {
	text-decoration: none;  
	color: white;	
}

#menu .item a:link, #menu .item a:active, #menu .item a:hover {
	text-decoration: none;  
	color: #fe0000;
}

#menu .item {
	background-color: #fe0000;
    margin: auto;
    margin-top: 5px;
    height: 35px;
    width: 290px;	
    float: left;
}

#menu .item:hover {
	background-color: #ffffff;
	border-style: solid;
    border-width: 5px;
    border-color: red;
    margin: auto;
    margin-top: 5px;
    height: 25px;
    width: 280px;	
    float: left;
}

.menu-margin {
	background-color: #333333;
	margin: auto;
	margin-top: 5px;
    height: 35px;
    width: 35px;	
    float: left;	
}

.separator {
	background-color: white;
    height: 35px;
    width: 5px;	
    float: left;	
}

#slider {
	background-color: #008080;
    margin: auto;
    margin-bottom: 5px;
    height: 300px;
    width: 800px;	
}

.separator-post {
	background-color: #747474;
    margin: auto;
    height: 5px;
    width: 800px;	
}

#slider-tips
{
	background-color: #008080;
    margin: auto;
    height: 500px;
    width: 800px;	
}

#post-products {
	background-color: #8080ff;
    margin: auto;
    margin-top: 5px;
    height: 300px;
    width: 800px;	
}

#contact
{
	background-color: #008080;
    margin: auto;
    height: auto;
    width: 800px;	
}

#menu-admin {
	background-color: #2ebe59;
    margin: auto;
    height: 100px;
    width: 100%;
}

#menu-admin .item {
	background-color: #2ebe59;
	float: left;
    margin: auto;
    height: 30px;
    width: 100px;
}

#menu-item {
	background-color: #279a78;
	float: left;
    margin: auto;
    height: 900px;
    width: 120px;
}

#logo {
    margin: auto;
    height: 110px;
    width: 250px;  
    position: absolute;
    top: 30px;
    left: 40px;
}

#search {
    margin: auto;
    width: 320px;
    height: 60px;      
    position: absolute;
    top: 80px;
    left: 600px;    
}

#search-text {
	color: white; 
	font-family: 'Arial Black';
	font-size: 12px;
	position: absolute;
	top: 20px;
}
#search-form {
	position: absolute;
	top: 40px;
}
#logo-motorcraft {
	color: white; 
	position: absolute;	
	left: 120px;
}