* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	weight: 100%;
	background-image:url("../images/fondo.jpg");
}

#header {
    margin: auto;
    height: 160px;
    width: 960px;
    background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,65,66,1) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(61,65,66,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,65,66,1) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,65,66,1) 50%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,65,66,1) 50%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(61,65,66,1) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	position: relative;
}

#footer {
	background-color: #808080;
    margin: auto;
    height: 100px;
    width: 960px;	
}

#content {
	background-color: #c0c0c0;
    margin: auto;
    height: auto;
    width: 960px;
}

#content-admin {
	background-color: #c0c0c0;
    float: left;
}

#menu {
	background-color: white;
    margin: auto;
    height: 50px;
    width: 960px;	
}

#menu .item{
	background-color: #ff0000;
    margin: 5px 50px;
    height: 40px;
    width: 200px;
    float: left;	
}

#slider {
	background-color: #008080;
    margin: auto;
    height: 150px;
    width: 800px;	
}

#slider-tips
{
	background-color: #008080;
    margin: auto;
    height: 500px;
    width: 800px;	
}

#post-products {
	background-color: #8080ff;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    width: 800px;	
}

#contact
{
	background-color: #008080;
    margin: auto;
    height: auto;
    width: 800px;	
}

#menu-admin {
	background-color: #2ebe59;
    margin: auto;
    height: 100px;
    width: 100%;
}

#menu-admin .item {
	background-color: #2ebe59;
	float: left;
    margin: auto;
    height: 30px;
    width: 100px;
}

#menu-item {
	background-color: #279a78;
	float: left;
    margin: auto;
    height: 900px;
    width: 120px;
}

#logo {
    margin: auto;
    height: 110px;
    width: 250px;  
    position: absolute;
    top: 30px;
    left: 40px;
}

#search {
    margin: auto;
    width: 320px;
    height: 60px;      
    position: absolute;
    top: 80px;
    left: 600px;    
}

#search-text {
	color: white; 
	font-family: 'Arial Black';
	font-size: 12px;
	position: absolute;
	top: 20px;
}
#search-form {
	position: absolute;
	top: 40px;
}
#logo-motorcraft {
	color: white; 
	position: absolute;	
	left: 120px;
}