* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	weight: 100%;
	background-image:url("../images/fondo.jpg");
}

#header {
	background-color: #808080;
    margin: auto;
    height: 150px;
    width: 900px;
}

#footer {
	background-color: #808080;
    margin: auto;
    height: 100px;
    width: 900px;	
}

#content {
	background-color: #c0c0c0;
    margin: auto;
    height: auto;
    width: 900px;
}

#content-admin {
	background-color: #c0c0c0;
    float: left;
}

#menu {
	background-color: #000000;
    margin: auto;
    height: 50px;
    width: 900px;	
}

#menu .item{
	background-color: #ff0000;
    margin: 5px 50px;
    height: 40px;
    width: 200px;
    float: left;	
}

#slider {
	background-color: #008080;
    margin: auto;
    height: 150px;
    width: 800px;	
}

#slider-tips
{
	background-color: #008080;
    margin: auto;
    height: 500px;
    width: 800px;	
}

#post-products {
	background-color: #8080ff;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    width: 800px;	
}

#contact
{
	background-color: #008080;
    margin: auto;
    height: auto;
    width: 800px;	
}

#menu-admin {
	background-color: #2ebe59;
    margin: auto;
    height: 100px;
    width: 100%;
}

#menu-admin .item {
	background-color: #2ebe59;
	float: left;
    margin: auto;
    height: 30px;
    width: 100px;
}

#menu-item {
	background-color: #279a78;
	float: left;
    margin: auto;
    height: 900px;
    width: 120px;
}

#logo {
	float: left;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    height: 110px;
    width: 250px;
}

#search {
	float: left;
    margin: auto;
    margin-top: 70px;
    margin-left: 300px;
}