{% extends 'OdiseoMotorOptimoBundle:backend:admin.html.twig' %} 

{% block menuItem %}
<div class="menu-tips">
	<div id="title_panel">
		<h2>Tips</h2>
	</div>
	<div class="item"><a href="#">Visualizar</a></div>
	<div class="item"><a href="#">Agregar </a></div>
    <div class="item"><a href="#">Modificar</a></div>
    <div class="item"><a href="#">Eliminar</a></div>
</div>

{% endblock %}

{% block content %}

<h1>Hola, soy un contenido.</h1>

{% endblock %}


