{% extends '::base.html.twig' %} 

{% block title %}Administrar: Motor Optimo{% endblock %} 

{% block body %}
<h2>Administrar Sitio</h2>
<div class="menu">
	<ul>
		<li><a href="{{ path('odiseo_motor_optimo_backend_adminProducts') }}">Productos</a></li>

		<li><a href="#">Tips del mes</a></li>

		<li><a href="#">Slider</a></li>
	</ul>
</div>

<div class="content">
{% block content %}{% endblock %}
</div>

{% endblock %}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 