{% extends '::base.html.twig' %} 

{% block title %}Panel de administración | Motor Optimo{% endblock %} 

{% block stylesheets %}
{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
	'bundles/odiseomotoroptimo/css/mainstyles.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}

<div id="menu-admin">
	<div id="title_panel">
		<h2>Panel de administración</h2>
	</div>
	<div class="item"><a href="{{ path('odiseo_motor_optimo_backend_adminProducts') }}">Productos</a></div>
	<div class="item"><a href="{{ path('odiseo_motor_optimo_backend_adminTips') }}">Tips del mes</a></div>
    <div class="item"><a href="{{ path('odiseo_motor_optimo_backend_adminSlider') }}">Slider</a></div>
</div>


<div id="menu-item">
{% block menuItem %}{% endblock %}
</div>
<div class="content-admin">
{% block content %}{% endblock %}
</div>
																																																																																		
{% endblock %}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 