{% extends 'OdiseoMotorOptimoBundle:backend:admin.html.twig' %} 

{% block content %}
<h2>Administrar Productos</h2>
<div class="menu-producto">
	<ul>
		<li><a href="#">Visualizar todos los Productos</a></li>
	</ul>
</div>

{% endblock %}

