{% extends 'OdiseoMotorOptimoBundle:backend:admin.html.twig' %} 

{% block content %}
<h2>Administrar tips del mes</h2>
<div class="menu-producto">
	<ul>
		<li><a href="#">Visualizar tips del mes</a></li>
	</ul>
</div>

{% endblock %}

